<%- include("../includes/navbar") %>

<div class="container mt-4">

    <h2 class="mb-3">All Users</h2>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
        </thead>

        <tbody>
            <% users.forEach((user, index) => { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= user.username %></td>
                    <td><%= user.email %></td>
                    <td><%= user.role %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

</div>
