<%- layout("/layouts/boilerplate") %>

<div class="container py-4">

  <div class="col-md-6 mx-auto">

    <div class="card shadow p-4">

      <h3 class="mb-3 text-center">Edit Product</h3>

      <form action="/products/<%= product._id %>?_method=PUT" method="POST">
        
        <div class="mb-3">
          <label>Title</label>
          <input type="text" name="title" value="<%= product.title %>" class="form-control">
        </div>

        <div class="mb-3">
          <label>Price</label>
          <input type="number" name="price" value="<%= product.price %>" class="form-control">
        </div>

        <div class="mb-3">
          <label>Category</label>
          <input type="text" name="category" value="<%= product.category %>" class="form-control">
        </div>

        <div class="mb-3">
          <label>Image URL</label>
          <input type="text" name="image" value="<%= product.image %>" class="form-control">
        </div>

        <div class="mb-3">
          <label>Description</label>
          <textarea name="description" class="form-control" rows="3"><%= product.description %></textarea>
        </div>

        <button class="btn btn-dark w-100">Update Product</button>

      </form>

    </div>

  </div>

</div>
